/node_modules/
/dist/
/npm-debug.log
/typings/


.settings
.metadata
.checkstyle
target
.pmd
.ruleset
.springBeans
eclipsebin
.eclipse-pmd
.buildpath

.class
*.zip
*.jar
!/hybris-ext/config/tomcat/lib/*.jar
*.gz
*.bak
.log
*.box
.idea
gensrc
*.iml
.DS_Store
.vlt*
*.swp
*~
*.orig
