<div class="container">
    <h3>Registration Baby</h3>
    <form (ngSubmit)="onSubmit()" #babyForm="ngForm">
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" required
                 [(ngModel)]="model.firstname" ngControl="firstname" #firstname="ngForm">
            <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                Firstname is required
            </div>
        </div>

        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" required
                 [(ngModel)]="model.lastname" ngControl="lastname" #lastname="ngForm">
            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                Lastname is required
            </div>
        </div>

        <div class="form-group">
            <label for="gender">gender</label>
            <select class="form-control" required
                  [(ngModel)]="model.gender" ngControl="gender" #gender="ngForm">
                <option *ngFor="let g of genders" [value]="g">{{g}}</option>
            </select>
            <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                Gender is required
            </div>
        </div>

        <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="year (example: 2000)" required
                       [(ngModel)]="model.birthdate.year" ngControl="birthdateYear" #birthdateYear="ngForm">
                <span class="input-group-addon"> / </span>
                <input type="text" class="form-control" placeholder="month (example: 03)" required
                       [(ngModel)]="model.birthdate.month" ngControl="birthdateMonth" #birthdateMonth="ngForm">
                <span class="input-group-addon"> / </span>
                <input type="text" class="form-control" placeholder="date (example: 10)" required
                       [(ngModel)]="model.birthdate.date" ngControl="birthdateDate" #birthdateDate="ngForm">
                <span class="input-group-addon">  </span>
                <input type="text" class="form-control" placeholder="hour (example: 14)" required
                       [(ngModel)]="model.birthdate.hour" ngControl="birthdateHour" #birthdateHour="ngForm">
                <span class="input-group-addon"> : </span>
                <input type="text" class="form-control" placeholder="minutes (example: 30)" required
                       [(ngModel)]="model.birthdate.minutes" ngControl="birthdateMinutes" #birthdateMinutes="ngForm">
            </div>
            <!--<div [hidden]="birthdateYear.valid || birthdateYear.pristine" class="alert alert-danger">-->
                <!--Birthdate Year is required-->
            <!--</div>-->
            <!--<div [hidden]="birthdateMonth.valid || birthdateMonth.pristine" class="alert alert-danger">-->
                <!--Birthdate Month is required-->
            <!--</div>-->
            <!--<div [hidden]="birthdateDate.valid || birthdateDate.pristine" class="alert alert-danger">-->
                <!--Birthdate Date is required-->
            <!--</div>-->
            <!--<div [hidden]="birthdateHour.valid || birthdateHour.pristine" class="alert alert-danger">-->
                <!--Birthdate Hour is required-->
            <!--</div>-->
        </div>

        <button type="submit" class="btn btn-success pull-right" [disabled]="!babyForm.form.valid">Submit</button>
    </form>
</div>
